.geoflickr_flickr-toolbar {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:rgba(238, 238, 238, 0.0) none repeat scroll 0 0;
	border:0px solid #EEEEEE;
	cursor:text;
	display:none;
	overflow:hidden;
	position:absolute;
	z-index:0;
}


.geoflickr_flickr-toolbar img {	
	padding: 1px;
}

.geoflickr_flickr-toolbar a {	
	color: #EEEEEE;
}

.geoflickr_flickr-toolbar a:hover {
	background:rgba(221, 221, 221, 0) none repeat scroll 0 0;
	color: #AAAAAA;
}
 
div.geoflickr_flickr-toolbar:hover {
	border:1px solid #EEEEEE;
	}
